<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<h1 align="center" style="background-color: blue; color: white; font-family: Arial, Helvetica, sans-serif; font-size: xx-large;">ASTRO & CO (Trasporti Interstellari)</h1>
<img class="h-12 w-12 flex-none rounded-full bg-gray-50" style="width: 700px; margin-left: 27%; margin-right: auto; " src="https://wallpapers.com/images/featured/space-sjryfre8k8f6i3ge.jpg" alt="">
<h3 align="center" style="color: blue; margin-left:auto; margin-right:auto; font-family: Arial, Helvetica, sans-serif;">Benvenuti in Astro & Co., l'agenzia leader nei trasporti interstellari, dove viaggiare oltre i confini della galassia diventa un'esperienza senza pari. Con una flotta di navi spaziali all'avanguardia e un decennio di esperienza nel settore, offriamo soluzioni di trasporto su misura per esploratori, commercianti e avventurieri galattici. Siamo qui per trasformare i sogni spaziali in realtà, offrendo viaggi sicuri, confortevoli e indimenticabili attraverso le meraviglie dello spazio profondo. Con Astro & Co., ogni viaggio è un'avventura senza confini.</h3>
<br>
<br>
<br>
<br>