.button_1{
    color: white; 
    font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif; 
    font-size: x-large; 
    border: 0px;
    background-color: transparent;
}
.button_1:hover{
    color: darkblue; 
    font-size: x-large;
}
@font-face {
    font-family: NASA;
    src: url(../../assets/nasalization-rg.otf);
  }
  div {
    width: 70px;
    height: 70px;
    background: black;
    position:relative ;
    animation-name: animazione;
    animation-duration: 1s;  
    animation-delay: 1s;
    animation-fill-mode: both;
  }
  
  @keyframes animazione {
    from {top: -110px; background-color: black;}
    to {top: -7px; background-color: blue;}
  }