<link href="https://cdn.jsdelivr.net/npm/tailwindcss2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<h1 align="center" style="background-color: blue; color: white; font-family: Arial, Helvetica, sans-serif; font-size: xx-large;">VIAGGI DISPONIBILI:</h1>
<br>
<div *ngFor="let element of viaggi; index as i">
    <div class="card mb-3" style="width: 1500px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="card-img-top" src="{{element.immagine}}" alt="Card image" style="height: 70vh;">
          </div>
          <div class="col-md-8">
            <div class="card-body" style="font-family: Arial, Helvetica, sans-serif; color: blue;">
              <h1 align="center" style="color: blue; margin-left:auto; margin-right:auto; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: xx-large;">{{element.destinazione|uppercase}}</h1>
              <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: x-large;">INFORMAZIONI VIAGGIO:</p>
            <p>- DESTINAZIONE: {{element.destinazione}}</p>
            <p>- APPARTENENZA: {{element.appartenenza}}</p>
            <p>- DURATA VIAGGIO: {{element.durata}} </p>
            <p>- DISTANZA VIAGGIO: {{element.distanza}}</p>
            <p>- PIANETA DI PARTENZA: {{element.partenza}} </p>
            <p>- DATA DI PARTENZA: {{element.datapartenza | date: 'longDate' }} </p>
            <p>- DATA DI ARRIVO: {{element.dataarrivo | date: 'longDate' }}</p>
            <p>- COSTO VIAGGIO: {{element.costo|currency:'EUR':'symbol'}} </p>
            </div>
          </div>
        </div>
      </div>
      <br>
